OMNI_BASE_URL=https://andrewbarnish.omniapp.co
OMNI_API_KEY=
OMNI_CONNECTION_ID=51e3303e-1e8a-4752-82f9-419eed9b4cba
OMNI_MODEL_ID=aa9824df-0ccd-4a92-8954-d56203363e48
OMNI_ORGANIZATION_NAME=andrewbarnish

MOTHERDUCK_TOKEN=
MOTHERDUCK_DATABASE=my_db
MOTHERDUCK_SCHEMA=main

# Used only for local `dbt build --target ci`
DBT_SCHEMA=dbt_pr_local
